<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DigitalClock</title>
</head>
<body>

<section id="dashboard">
<div class="digitalClock">
  <div class="dayTitle">
    {{ day }}
  </div>
  <div id="digitalTime">
    <div>{{ hour }} :&nbsp;</div>
    <div>{{ minute }} :&nbsp;</div>
    <div>{{ second }} </div>
    <div class="ampm">{{ampm }}</div>
  </div>
  <div class="date">
    <div>{{ Date }} /&nbsp;</div>
    <div>{{ month }} /&nbsp;</div>
    <div>{{ year }}&nbsp;</div>
  </div>
</div>

<div class="formate">
  <h2>Format</h2>
  <button (click)="commonTime()">12 Hours</button>
  <button (click)="miltaryTime()">24 Hours</button>
</div>
</section>

</body>
</html>



